<!-- chatrooms.html -->
{% extends 'firstapp/base.html' %}

{% block content %}
<h2>チャットに参加しよう！</h2>

<!-- チャットルーム参加フォーム -->
<form method="post">
    {% csrf_token %}
    {{ join_form.as_p }}
    <div style="text-align: center;">
        <button type="submit">チャットに参加</button>
    </div>
</form>

<!-- チャットルーム一覧表示 -->
<h4>チャットルーム一覧</h4>
<ul class="list-group">
    {% for chat_room in chat_rooms %}
    <!-- チャットルーム名を表示する -->
    <li class="list-group-item">
        {{ chat_room.name }}
        <!-- 参加ボタンを追加 -->
        <!-- 'chat_post' ビューのURLに chat_room.id を正しく渡す -->
        <a href="{% url 'firstapp:chat_post' chat_room.id %}" class="btn btn-primary btn-sm float-right">参加</a>
    </li>
    {% endfor %}
    <div style="text-align: center;">
        <a href="{% url 'firstapp:new_chatroom' %}" class="btn btn-success btn-margin">新しいチャットルームを作成</a>
    </div>
{% endblock %}
