{% extends 'firstapp/base.html' %}

{% block content %}
<div class="post-info">
    <h2>投稿削除確認画面</h2>

    <!-- 投稿の詳細表示 -->
    <div class="post-details">
        <p><strong>投稿者:</strong> {{ nickname }}</p>
        <p><strong>投稿内容:</strong> {{ chat.submission }}</p>
        <p><strong>投稿日時:</strong> {{ chat.created_at|date:"Y-m-d H:i" }}</p>
        <p>本当にこの投稿を削除しますか？</p>
    </div>

    
    <div class="button-group">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">削除</button>
        <a href="{% url 'firstapp:chat_post' chat_room_id %}" class="btn btn-delete">キャンセル</a>
    </div>
</div>
{% endblock %}