{% extends 'firstapp/base.html' %}

{% block title %}プロフィール編集{% endblock %}

{% block content %}
<h2>プロフィール編集</h2>

<!-- ユーザー情報の編集フォーム -->
<div class="user-info">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">  <!-- form-groupクラスを追加してグループ化 -->
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
            <div class="error-message" style="color: red;">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit">更新</button>
</form>
</div>
<!-- アカウント削除機能へのリンク -->
<div class="user-info">
    <a href="{% url 'firstapp:delete_user' %}" onclick="return confirm('アカウントを削除してもよろしいですか？');">アカウント削除</a>
</div>
<!-- 前に戻るボタン -->
<div class="user-info">
    <a href="{% url 'firstapp:profile' %}">プロフィールに戻る</a>
</div>
{% endblock %}

    {% comment %} {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <strong style="color: red">{{ error }}</strong>
            {% endfor %}
        </p>
    {% endfor %} {% endcomment %}