{% extends 'firstapp/base.html' %}

{% block content %}
<div class="login-form">
    <h2 class="mb-4">ログイン</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}  <!-- フォーム全体のエラーを表示 -->
        <div class="form-field">
            <label for="{{ form.email.id_for_label }}">メールアドレス</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="alert alert-danger">{{ form.email.errors|join:"" }}</div>
            {% endif %}
        </div>
        <div class="form-field">
            <label for="{{ form.password.id_for_label }}">パスワード</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="alert alert-danger">{{ form.password.errors|join:"" }}</div>
            {% endif %}
        </div>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">ログイン</button>
    </div>
    </form>
    <div style="text-align: center;">
        <a href="{% url 'firstapp:index' %}" class="btn btn-secondary mt-3">戻る</a>
    </div>
</div>
{% endblock %}
