{% extends 'firstapp/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>プロフィール</h2>
<div class="profile-container">
  
  <div class="user-info">
      <p>メールアドレス: {{ user.email }}</p>
      <p>ユーザーネーム: {{ user.username }}</p>
      <p>ニックネーム: {{ user.nickname }}</p>
      <p>現在のパスワード: ********</p>
  </div>
  <div style="text-align: center;">
  <!-- プロフィール編集画面へのリンク -->
  <a href="{% url 'firstapp:edit_profile' %}" class="btn btn-primary">プロフィール編集</a>
  </div>
</div>
{% endblock %}
